$blue50: #E7ECFD;
$blue100: #CBD6FB;
$blue200: #97AEF6;
$blue300: #6889F3;
$blue400: #3460EE;
$blue500: #1241D9;
$blue600: #0E34AE;
$blue700: #0B2784;
$blue800: #071955;
$blue900: #040D2A;
$blue950: #020718;
$green50: #E6F9E6;
$green100: #D1F5D1;
$green200: #9FEA9F;
$green300: #71DF71;
$green400: #3FD43F;
$green500: #28B428;
$green600: #208E20;
$green700: #186C18;
$green800: #104710;
$green900: #082608;
$green950: #041104;
$dkgreen50: #ECF3F0;
$dkgreen100: #D9E7E1;
$dkgreen200: #B4D0C4;
$dkgreen300: #8EB8A6;
$dkgreen400: #69A188;
$dkgreen500: #4E7C68;
$dkgreen600: #3F6454;
$dkgreen700: #2F4B3F;
$dkgreen800: #1F322A;
$dkgreen900: #101915;
$dkgreen950: #080D0B;
$cyan50: #E8FCFD;
$cyan100: #D1F9FA;
$cyan200: #A3F4F5;
$cyan300: #75EEF0;
$cyan400: #42E8EB;
$cyan500: #18E0E3;
$cyan600: #13B1B4;
$cyan700: #0F888A;
$cyan800: #0A5B5C;
$cyan900: #052D2E;
$cyan950: #021717;
$purple50: #EDEAFB;
$purple100: #D8D0F6;
$purple200: #B0A1EC;
$purple300: #8972E3;
$purple400: #6244DA;
$purple500: #4626C0;
$purple600: #371E99;
$purple700: #291773;
$purple800: #1B0F4D;
$purple900: #0E0826;
$purple950: #080415;
$orange50: #FEEFE1;
$orange100: #FDDCBF;
$orange200: #FBB97F;
$orange300: #F8953F;
$orange400: #F27508;
$orange500: #B05406;
$orange600: #8F4505;
$orange700: #683204;
$orange800: #452102;
$orange900: #231101;
$orange950: #140A01;
$pink50: #F9F5F5;
$pink100: #F4ECEC;
$pink200: #E9D8D8;
$pink300: #DCC2C2;
$pink400: #CBA4A4;
$pink500: #B78282;
$pink600: #AD7171;
$pink700: #A46060;
$pink800: #884E4E;
$pink900: #643A3A;
$pink950: #472929;
$red50: #FCEEF2;
$red100: #F9E1E8;
$red200: #F3C3D0;
$red300: #EDA1B5;
$red400: #E7839E;
$red500: #E16687;
$red600: #D62E5B;
$red700: #A22043;
$red800: #6F162E;
$red900: #370B17;
$red950: #1A050B;
$grey50: #F2F2F2;
$grey100: #E6E6E6;
$grey200: #CCCCCC;
$grey300: #B3B3B3;
$grey400: #999999;
$grey500: #808080;
$grey600: #666666;
$grey700: #4D4D4D;
$grey800: #333333;
$grey900: #1A1A1A;
$grey950: #0D0D0D;
